
//==========================================================================
// VARIAVEIS
// Definição das variavéis do projeto.
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

// prefixo de todo o projeto.
$prefix: 'pa';








// CSS VARS
//==========================================================================
$i : !important;
$t : transparent;