.#{$prefix}-features {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@include respond-to( md ) {
		flex-direction: row;
	}

	@include e( 'information' ) {

		@include respond-to( md ) {
			flex-basis: 37%;
		}
	}
	
	@include e( 'title' ) {
		@include typography( 700, 30, $font-default );
		color: cl( white );

		@include respond-to( sm ) {
			font-size: rem(40);
		}
		
		@include respond-to( md ) {}

		span {
			color: cl( redSlim );
		}
	}

	@include e( 'desc' ) {
		@include typography( 100, 20, $font-default );
		color: cl( white );
		margin-top: rem(30);
	}

	@include e( 'options' ) {
		margin-top: rem(60);

		@include respond-to( sm ) {
			flex-basis: 55%;
			display: flex;
    		flex-wrap: wrap;
    		justify-content: space-between;
		}
		
		@include respond-to( md ) {
			margin-top: rem(0);
		}

	}
	
	@include e( 'option' ) {
		flex-basis: 47%;


		.title {
			@include typography( 700, 20, $font-default );
			color: cl( white );
		}

		.desc {
			@include typography( 100, 18, $font-default );
			color: cl( white );
			margin: rem(15) rem(0) rem(30);
		}
	}
}