/*!
* Copyright: 2019 
* Developer: Bruno Kiedis | (85) 9 87745679
*/

//==========================================================================
// STYLES
//==========================================================================
@import 'vendor/base';
@import 'global/all';
@import 'modules/all';
@import 'partials/base';

.#{$prefix}-main{
	@extend %boxFull;
}

.#{$prefix}-section{
	$self: &;
	@extend %boxFull;
	@extend %offsetMargin;
	
	@include m(	'banner' ) {
		@include bkgImage( 'banner.jpg', cl( white ), no-repeat, center, cover, fixed );
		height: 100vh;
		display: flex;
    	flex-direction: column;
		margin: 0;
		position: relative;

		&:before {
			@include size(100%, 100vh);
			background: rgba( 0, 0, 0, 0.3 );
			content: '';
			position: absolute;
		}


		@include e( 'info', $self ) {
			@include flexBox( flex, center, center, column, inherit, 100% );

			.sup-title, .title {
				animation: fadeInUp .9s ease-in-out .6s forwards;
        		opacity: 0;
        		color: cl( $white );
			}

			.sup-title {
				@include typography( 300, 30, $font-default );
			}

			.title {
				@include typography( 700, 41, $font-default );
			    align-items: center;
				display: flex;
			    flex-direction: column;
			    text-align: center;


			    @include respond-to( sm ) {
			    	font-size: rem(60);
			    }
			    
			    @include respond-to( md ) {
			    	font-size: rem(50);
			    }

			    span {
			    	display: none;

			    	@include respond-to( sm ) {
			    		display: flex;
			    	}
			    }
			}

		}
	}	

	@include m( 'about' ) {
		@extend %not-offsetMargin;
		@extend %offsetPadding;
		background: linear-gradient(-140deg, cl( redSlim ), cl( pink ));
	}
	
	@include m( 'about-options' ) {
		@extend %not-offsetMargin;
	}
}





//ANIMAÇÕES
@-webkit-keyframes zoomBg{
    from {
        transform: scale(1);
    } to {
        transform: scale(1.15);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}